# Creado por LimónStudioss. s.melladoo
PORT=4000
NODE_ENV=development

FRONTEND_URL=http://127.0.0.1:8080

BACKEND_URL=http://localhost:4000

MONGODB_URI=mongodb://localhost:27017/deudareset

JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY_PATH=./config/AuthKey_XXXXXXXXXX.p8

TBK_COMMERCE_CODE=
TBK_API_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM="ABOGA GO <no-reply@tudominio.cl>"

TEST_USER_EMAIL=prueba@abogago.cl
TEST_USER_PASSWORD=Prueba1234

PREMIUM_PRIORITY_HOURS=24
